@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome to Warehouse Management System</h1>
    <p class="lead">Choose an option to get started:</p>
</div>

<div class="row mt-5">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">Manage products in your inventory.</p>
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">View Products</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Inventories</h5>
                <p class="card-text">Manage inventory levels and locations.</p>
                <a asp-controller="Inventory" asp-action="Index" class="btn btn-primary">View Inventories</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Documents</h5>
                <p class="card-text">Manage warehouse documents.</p>
                <a asp-controller="Document" asp-action="Index" class="btn btn-primary">View Documents</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <p class="card-text">Manage product categories.</p>
                <a asp-controller="Category" asp-action="Index" class="btn btn-primary">View Categories</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Locations</h5>
                <p class="card-text">Manage warehouse locations.</p>
                <a asp-controller="Location" asp-action="Index" class="btn btn-primary">View Locations</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text">Manage application users</p>
                <a asp-controller="User" asp-action="Index" class="btn btn-primary">View Users</a>
            </div>
        </div>
    </div>
    
     <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Roles</h5>
                    <p class="card-text">Manage users roles</p>
                    <a asp-controller="Role" asp-action="Index" class="btn btn-primary">View Roles</a>
                </div>
            </div>
        </div>
</div>
